.formInput {
  display: flex;
  flex-direction: column;
  width: 320px;
}

input {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

label {
  color: rebeccapurple;
}

span {
  color: red;
  padding: 3px;
  font-size: 12px;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
